
Chainer_Machine_Translation_ipython_notebook/
VAEGAN_cl/
cifar-10-batches-py/
sample_data/

archives/
images/
logs/

out_images*/
out_models*/

*.pyc

*.pkl
*.gz
*.out
*.png
*.jpg

.ipynb_checkpoints/

